<h3>Users</h3>
<p>
Create, edit or delete users. You can also view users that were imported from your LDAP server. However, you cannot modify those users from this administration client.
</p>
<bar>
    <bar-item [position]="'left'"  [class]="'btn btn-success'" (click)="new()"    [name]="'New'"    [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-warning'" (click)="edit()"   [name]="'Edit'"   [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-danger'"  (click)="delete()" [name]="'Delete'" [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-success'" (click)="import()" [name]="'Import'" [type]="'button'"></bar-item>    
    <bar-item [position]="'right'" [class]="'btn btn-primary'" (click)="search()" [name]="'Search'" [type]="'input'" [placeholder]="'Search for ...'" [(val)]="usersService.query"></bar-item>
</bar>

<infinite-table-component [headerList]="usersService.headers" [data]="users" (selected)="crudModalService.selectRow($event)" (scrolled)="usersService.scrollDown()"></infinite-table-component>

<modal-dialog #neduser>
    <modal-header>
        <h3>{{crudModalService.modalHeader}}</h3>
        Provide the details of the user that you want to create in the IBM Navigator Console user directory.
    </modal-header>
    <modal-body>
        <form id="formUser1" (ngSubmit)="submit()" class="container-fluid">
            <div class="col-xs-6">
                <fieldset class="form-group">
                    <label for="loginName">Login Name</label>
                    <input [(ngModel)]="crudModalService.user.edit.loginName" type="text" class="form-control" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="loginName">Password</label>
                    <input [(ngModel)]="crudModalService.user.edit.password" type="password" class="form-control" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input [(ngModel)]="crudModalService.user.edit.displayName" type="text" class="form-control">
                </fieldset>
            </div>
            <div class="col-xs-6">
                <fieldset class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="crudModalService.user.edit.email" type="text" class="form-control">
                </fieldset>
                <fieldset class="form-group">
                    <label for="distinguishedname">Distinguished Name</label>
                    <input [(ngModel)]="crudModalService.user.edit.distinguishedName" type="text" class="form-control">
                </fieldset>
            </div>
        </form> 
    </modal-body>
    <modal-footer>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" form="formUser1">Submit</button>
            <button class="btn btn-danger" (click)="closeCRUDModal()" data-dismiss="modal">Close</button>
        </div> 
    </modal-footer>
</modal-dialog>       

<modal-dialog #importuser>
    <modal-header>
        <h3>{{importModalService.modalHeader}}</h3>
        Import group of users from file.
    </modal-header>
    <modal-body>
        <form id="formUser2" (ngSubmit)="submitImport()" class="container-fluid">
            <fieldset class="form-group">
                <label for="fileImportName">File</label>
                <input [(ngModel)]="importModalService.file" type="text" class="form-control" required>
            </fieldset>
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': importModalService.hasBaseDropZoneOver}"
                 (fileOver)="importModalService.fileOverBase($event)"
                 [uploader]="importModalService.uploader"
                 class="well my-drop-zone">
                Drop File Here
            </div>
            
            <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ importModalService.uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of importModalService.uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="importModalService.uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="importModalService.uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': importModalService.uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="importModalService.uploadAll()" [disabled]="!importModalService.uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="importModalService.uploader.cancelAll()" [disabled]="!importModalService.uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="importModalService.uploader.clearQueue()" [disabled]="!importModalService.uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>
            
        </form> 
    </modal-body>
    <modal-footer>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" form="formUser2">Submit</button>
            <button class="btn btn-danger" (click)="closeImportModal()" data-dismiss="modal">Close</button>
        </div> 
    </modal-footer>
</modal-dialog> 

 