<h3>Users</h3>
<p>
Create, edit or delete users. You can also view users that were imported from your LDAP server. However, you cannot modify those users from this administration client.
</p>
<bar>
    <bar-item [position]="'left'"  [class]="'btn btn-success'" (click)="new()"    [name]="'New'"    [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-warning'" (click)="edit()"   [name]="'Edit'"   [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-danger'"  (click)="delete()" [name]="'Delete'" [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-success'" (click)="import()" [name]="'Import'" [type]="'button'"></bar-item>
    
    <bar-item [position]="'right'" [class]="'btn btn-primary'" (click)="search()" [name]="'Search'" [type]="'input'" [placeholder]="'Search for ...'" [(val)]="usersService.query"></bar-item>
</bar>

<div class="container-fluid" style="padding-right:0px;padding-left:0px;">
    <div>
        <label for="currLimit">Temporary</label>
    </div>
    <div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-prevPage" (click)="btnTmpCreateMany()">Create Many Users</button>
        </div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-prevPage" (click)="btnTmpRemoveMany()">Remove Many Users</button>
        </div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-prevPage" (click)="btnClearUsers()">Clear List</button>
        </div>
    </div>
</div>

<infinite-table-component [headerList]="usersService.headers" [data]="users" (selected)="crudModalService.selectRow($event)" (scrolled)="usersService.scrollDown()"></infinite-table-component>
    
 <div class="container-fluid" style="padding-right:0px;padding-left:0px;">
    <div><div><label for="currLimit">Results per Page</label></div> </div>
    <div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-prevPage" (click)="btnLoadMore()">Load More</button>
        </div>
        <div style="display: inline-block">
            <div><input type="number" style="width:50px" class="form-control" [(ngModel)]="currentLimit" (ngModelChange)="limitChanged($event)" placeholder="Results per Page"></div>
        </div>
        <div style="<display:></display:> inline-block">
            <button type="button" class="btn btn-prevPage" (click)="btnPreviousPage()">&lt;&lt;</button>
        </div>
        <div style="display: inline-block">
            <button type="button" class="btn btn-nextPage" (click)="btnNextPage()">&gt;&gt;</button>
        </div>
        <div style="display: inline-block">
            <input type="number" style="width:50px" class="form-control" [(ngModel)]="currentStartIdx" (ngModelChange)="pageChanged($event)" placeholder="Current Start Index">
        </div>    
    </div>
    
</div>

<modal-dialog #neduser>
    <modal-header>
        <h3>{{crudModalService.modalHeader}}</h3>
        Provide the details of the user that you want to create in the IBM Navigator Console user directory.
    </modal-header>
    <modal-body>
        <form id="formUser1" (ngSubmit)="submit()" class="container-fluid">
            <div class="col-xs-6">
                <fieldset class="form-group">
                    <label for="loginName">Login Name</label>
                    <input [(ngModel)]="crudModalService.user.edit.loginName" type="text" class="form-control" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="loginName">Password</label>
                    <input [(ngModel)]="crudModalService.user.edit.password" type="text" class="form-control" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input [(ngModel)]="crudModalService.user.edit.displayName" type="text" class="form-control">
                </fieldset>
            </div>
            <div class="col-xs-6">
                <fieldset class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="crudModalService.user.edit.email" type="text" class="form-control">
                </fieldset>
                <fieldset class="form-group">
                    <label for="distinguishedname">Distinguished Name</label>
                    <input [(ngModel)]="crudModalService.user.edit.distinguishedName" type="text" class="form-control">
                </fieldset>
            </div>
        </form> 
    </modal-body>
    <modal-footer>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" form="formUser1">Submit</button>
            <button class="btn btn-danger" (click)="closeCRUDModal()" data-dismiss="modal">Close</button>
        </div> 
    </modal-footer>
</modal-dialog>       

<modal-dialog #importuser>
    <modal-header>
        <h3>{{importModalService.modalHeader}}</h3>
        Import group of users from file.
    </modal-header>
    <modal-body>
        <form id="formUser2" (ngSubmit)="submitImport()" class="container-fluid">
            <fieldset class="form-group">
                <label for="fileImportName">File</label>
                <input [(ngModel)]="importModalService.file" type="text" class="form-control" required>
            </fieldset>
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': importModalService.hasBaseDropZoneOver}"
                 (fileOver)="importModalService.fileOverBase($event)"
                 [uploader]="importModalService.uploader"
                 class="well my-drop-zone">
                Drop File Here
            </div>
        </form> 
    </modal-body>
    <modal-footer>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" form="formUser2">Submit</button>
            <button class="btn btn-danger" (click)="closeImportModal()" data-dismiss="modal">Close</button>
        </div> 
    </modal-footer>
</modal-dialog> 

 