<h3>Groups</h3>
<p>
Create, modify and delete groups. Groups imported from your LDAP server can be visualized and deleted as well, but cannot be modified.
</p>
<bar>
    <bar-item [position]="'left'"  [class]="'btn btn-success'" (click)="new()"    [name]="'New'"    [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-warning'" (click)="edit()"   [name]="'Edit'"   [type]="'button'"></bar-item>
    <bar-item [position]="'left'"  [class]="'btn btn-danger'"  (click)="delete()" [name]="'Delete'" [type]="'button'"></bar-item>
    <bar-item [position]="'right'" [class]="'btn btn-primary'" (click)="search()" [name]="'Search'" [type]="'input'" [placeholder]="'Search for ...'" [(val)]="groupsService.query"></bar-item>
</bar>

<table-component [headerList]="groupsService.headers" [data]="groups" (selected)="crudModalService.selectGroupRow($event)"></table-component>

<modal-dialog #nedgroup>
    <modal-header>
        <h3>{{crudModalService.modalHeader}}</h3>
        Provide the details of the group that you want to create in the IBM Navigator Console user directory.    
    </modal-header>
    <modal-body>
        <form id="formGroup1" (ngSubmit)="submit()" class="container-fluid">   
            <div class="col-xs-6">
            <fieldset class="form-group">
                <label for="loginName">Group Name</label>
                <input [(ngModel)]="crudModalService.group.edit.groupName" type="text" class="form-control" required>
            </fieldset>
            </div>
            <input type="submit" class="hidden">
            <div class="col-xs-6">
            <fieldset class="form-group">
                <label for="displayName">Display Name</label>
                <input [(ngModel)]="crudModalService.group.edit.displayName" type="text" class="form-control" required>
            </fieldset>
            </div>
            <button type="submit" class="hidden" ></button>
        </form>
        
        <h4>Group Members</h4>
        <bar>
            <bar-item [position]="'left'"  [class]="'btn btn-success'" (click)="addMember()"                     [name]="'Add'"     [type]="'button'"></bar-item>
            <bar-item [position]="'left'"  [class]="'btn btn-warning'" (click)="crudModalService.removeMember()" [name]="'Remove'"  [type]="'button'"></bar-item>
        </bar>
        <table-component [headerList]="crudModalService.tableHeaders" [data]="crudModalService.group.edit.members" (selected)="crudModalService.selectGroupRow($event)"></table-component>
           
    </modal-body>
    <modal-footer>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" form="formGroup1">Submit</button>
            <button class="btn btn-danger" (click)="closeCRUDModal()" data-dismiss="modal">Close</button>
        </div> 
    </modal-footer>
</modal-dialog>


<modal-dialog #memberModal>
    <modal-header>
        <h3>Define Group Members</h3>
        Search for users or groups then select the result entries you would like to add as group members.
    </modal-header>
    <modal-body>
        <bar>
            <bar-item [position]="'center'" [class]="'btn btn-primary'" (click)="membersModalService.resetAndSearch()" [name]="'Search'" [type]="'inputWOption'" [placeholder]="'Search for ' + membersModalService.groupOrUser" [(val)]="membersModalService.query" [(optVal)]="membersModalService.groupOrUser" (optVal)="membersModalService.gOuChange()" [options]="membersModalService.options"></bar-item>
        </bar>

        <infinite-table-component [headerList]="membersModalService.tableHeaders" [data]="membersModalService.data" (selected)="membersModalService.selectRow($event)" (scrolled)="membersModalService.scrollDown()"></infinite-table-component>
       
    </modal-body>
    <modal-footer>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" (click)="submitMember(membersModalService.selectedRow)">Submit</button>
            <button class="btn btn-danger" (click)="closeMemberModal()" data-dismiss="modal">Cancel</button>
        </div>
    </modal-footer>
</modal-dialog>