<h3>Groups</h3>
<p>
Create, modify and delete groups. Groups imported from your LDAP server can be visualized and deleted as well, but cannot be modified.
</p>
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
<div class="col-xs-6 mycol">
    <button type="button" class="btn btn-success" (click)="new()">New</button>
    <button type="button" class="btn btn-warning" (click)="edit()">Edit</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
</div>
<div class="col-xs-6 mycol" style="margin-bottom:1%">
    <input type="text" class="form-control" [(ngModel)]="value" placeholder="Search for...">
</div>
</div>
<div class="modal fade {{modalClass}}" style="display:block; background:hsla(0, 0%, 0%, 0.5)" *ngIf="editActive">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{editHeader}}</h3>
            Provide the details of the group that you want to create in the IBM Navigator Console user directory.
        </div>
        <div class="modal-body">
            <form id="form1" (ngSubmit)="onSubmit()" class="container-fluid">   
                <div class="col-xs-6">
                <fieldset class="form-group">
                    <label for="loginName">Group Name</label>
                    <input [(ngModel)]="editGroup.displayName" type="text" class="form-control" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input [(ngModel)]="editGroup.distinguishedName" type="text" class="form-control">
                </fieldset>
                </div>
                <input type="submit" class="hidden">
                <div class="col-xs-6">
                <fieldset class="form-group">
                    <label for="distinguishedname">Distinguished Name</label>
                    <input [(ngModel)]="editGroup.members" type="text" class="form-control">
                </fieldset>
                </div>
                <button type="submit" class="hidden" ></button>
            </form>
            <div class="container-fluid">
            <h4>Group Members</h4>
                <div class="col-xs-6 mycol">
                    <button type="button" class="btn btn-success" (click)="addMember()">Add</button>
                    <button type="button" class="btn btn-warning" (click)="removeMember()">Remove</button>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:1%">
                <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th valign="top" style="width: 10%" name="shortname">Short Name</th>
                        <th style="width: 10%" name="displayname">Display Name</th>
                        <th style="width: 10%" name="distname">Distinguished Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button type="submit" class="btn btn-primary" form="form1">Submit</button>
                <button class="btn btn-danger" (click)="toggleEdit()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th valign="top" style="width: 10%" name="shortname">Group Name (User Name)</th>
            <th style="width: 10%" name="displayname">Display Name</th>
            <th style="width: 10%" name="distname">Distinguished Name</th>
        </tr>
    </thead>
    <tbody>
        <template ngFor let-group [ngForOf]="groups">
        <tr class={{group.class}} (click)="rowSelected(group)">
            <td>{{group.loginName}}</td>
            <td>{{group.displayName}}</td>
            <td>{{group.distinguishedName}}</td>
        </tr>
        </template>
    </tbody>
</table>