
<tabs>
<tab title="Welcome"> 
<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
        <h3>
            Welcome to SCCM
        </h3>
        <p>
        Configure and manage all aspects of this service as follows:
        </p>
        <h4>
            Security Configuration
        </h4>
        <p>  
        Allows you to set up the following security aspects:
        </p>
        <ul>
            <li>Create, modify and delete users and groups, and assign roles.</li>
            <li>Configure the import of users and groupts from your LDAP server.</li>
        </ul>
    </div> 
    </div>
</div> 
</tab>
    
<tab title="Security Configuration"> 
    <menu class="container-fluid"> 
        <item title="Users, Groups and Roles">
            <item title="Content">
                <h3>Users, Groups and Roles</h3>
                <p>Manage users, groups and roles:</p>
                <ul>
                    <li> <b>Users</b>
                    <p>Create, edit or delete users. You can also view users that were imported from your LDAP server. However, you cannot modify those users from this administration client.</p>
                    </li>
                    <li> <b>Groups</b>
                    <p>Create, edit or delete groups. You can also view groups that were imported from your LDAP server. However, you cannot modify those groups from this administration client.</p>
                    </li>
                    <li> <b>Roles</b>
                    <p>Assign roles to groups and users to grant them different privileges.</p>
                    </li>
                </ul>
                 
            </item>
            <item title="Users">
                <users #initobj></users>
            </item>
            <item title="Groups">
                <groups #initobj></groups>
            </item>
            <item title="Roles">
                <roles #initobj></roles>
            </item>
        </item>
        <item title="LDAP Showcase">
            <item title="Content">
                <h3>LDAP Testing</h3>
                <p>Login with created users and analyze JWT</p>
            </item>
            <item title="LDAP Login">
                <login></login>
            </item>
        </item>
    </menu>
</tab>
</tabs>
